.active-menu-bg{
    background: #F2EBF0;
    height: 56px;
}
.active-menu-item{
    color: #7C3367;
    height: 40px;
    align-items: center;
    
    justify-content: space-between;
    background: #F2EBF0;
    border-radius: 6px;
    padding: 8px 13px 8px 12px;
}
.menu-item{
    align-items: center;
padding: 8px 13px 8px 12px;
height: 40px;
justify-content: space-between;
background: #FFFFFF;
border-radius: 6px;
}
.active-menu-item-icon{
    color: #7C3367;
    height: 40px;
    align-items: center;
    
    justify-content: space-between;
    background-color: #F2EBF0;
    border-radius: 6px;
    padding: 8px 13px 8px 12px;
}
.menu-item-icon{
    align-items: center;
padding: 8px 13px 8px 12px;
height: 40px;
justify-content: space-between;
background: #FFFFFF;
border-radius: 6px;
}
.active-menu-item-title{
    color: #7C3367;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background: #F2EBF0;
    border-radius: 6px;
    padding: 8px 13px 8px 12px;
}
.menu-item-title{
    align-items: center;
padding: 8px 13px 8px 12px;
height: 40px;
justify-content: space-between;
background: #FFFFFF;
border-radius: 6px;
}