.btn-login {
    width: 552px;
    height: 48px;
    background: #7C3367;
    border-radius: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
}

.text-login {
    width: 77px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.login-input {
    box-sizing: border-box;
    height: 48px;
    border: 1.3px solid rgba(196, 196, 196, 0.5);
    border-radius: 14px;
    margin-bottom: 12px;
}

.login-label {
    align-content: center;
    text-align: center;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4C4B4C;
}
.form-text-float-right{
    float: right;
    width: 105px;
height: 20px;
left: 501px;
top: 507px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: right;
color: #0078D7;
}
.a{
    text-decoration:none
}
.input-check{
justify-content: center;
height: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #999699;
}
