.btn-login {
    width: 552px;
    height: 48px;
    background: #7c3367;
    border-radius: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
}

.text-login {
    width: 77px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.login-input {
    box-sizing: border-box;
    height: 48px;
    border: 1.3px solid rgba(196, 196, 196, 0.5);
    border-radius: 14px;
    margin-bottom: 12px;
}
.ant-form-item-label>label.ant-form-item-required::before{
    content: none !important;
 }
.login-label {
    align-content: center;
    text-align: center;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4c4b4c;
}
.form-text-float-right {
    float: right;
    width: 105px;
    height: 20px;
    left: 501px;
    top: 507px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0078d7;
}
.a {
    text-decoration: none;
}
.input-check {
    justify-content: center;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #999699;
}
.login-form-forgot {
    float: right;
    text-decoration: none;
  }
.ant-col-rtl .login-form-forgot {
    float: left;
  }