.change-password-page {
    background-image: url('../../../images/bg-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
.change-password-page-inner {
    max-width: 480px;
    padding: 40px 24px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(170, 169, 184, 0.1);
    box-shadow: 0px 4px 20px 0px rgba(170, 169, 184, 0.1);
    border-radius: 12px;
    background-color: #fff;
    padding-bottom: 48px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
    max-height: calc(100vh - 120px);
    border: 1px solid rgba(163, 173, 194, 1);
}
.text-label {
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-title);
}