.thoi-gian-nghi-page .MuiDataGrid-columnHeaders {
    background-color: #f2ebf0;
}
.thoi-gian-nghi-page .MuiTablePagination-selectLabel,
.thoi-gian-nghi-page .MuiTablePagination-displayedRows {
    margin-bottom: 0 !important;
}
.poppup-them-ngay-nghi .MuiPaper-root {
    max-width: unset !important;
}
