.App {
    text-align: center;
}

body .font-normal {
    font-size: 14px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-schedule/styles/material.css';
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.MuiDialogTitle-root {
    font-weight: 500;
    font-size: 18px;
}


/* .MuiDialogActions-root {
    padding-right: 20px;
} */

.page-title-search {
    background-color: var(--color-bg);
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.icon-size {
    font-size: 40px;
    color: var(--color-main);
}

.grid-color {
    width: 30px;
    height: 30px;
    border-radius: 16px;
}

.btnIcon {
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px !important;
    border: 1px solid #cccc !important;
    padding: 10px !important;
}

.btnIconText {
    padding-top: 5px;
    padding-bottom: 5px;
}

.MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 3px;
}

.table-head tr th {
    padding: 3px 5px;
    border-color: #cccc;
    text-align: center;
}

.table-body tr td {
    padding: 0px 5px;
}

.MuiButtonBase-root.btnSecond {
    padding: 3px 14px;
}

.MuiDialogActions-root.MuiDialogActions-spacing {
    padding-right: 24px;
}

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows {
    margin-bottom: 0;
}

.MuiAutocomplete-option {
    font-size: 13px;
}


/* style main button*/

.btnNhapXuat {
    background-color: #fff;
    color: #666466;
    padding: 10px 16px;
    border-color: #e6e1e6;
    height: 40px;
}

.button-not-active {
    color: #cccc !important;
    border-color: #cccc !important;
}


/* style text in button */

.MuiButton-root {
    text-transform: initial !important;
    font-weight: 400 !important;
}


/* button paging selected */

.MuiPaginationItem-root.Mui-selected {
    background-color: var(--color-main) !important;
    color: white !important;
}

.MuiTreeItem-content {
    padding: 8px 8px;
}

.MuiTreeItem-content .MuiTreeItem-label {
    padding-left: 8px;
}

.modal-lable {
    font-size: var(--font-size-main) !important;
    font-weight: 500 !important;
}


/* error at TextField */

.MuiFormHelperText-root {
    margin-left: 0px !important;
    color: red !important;
}

.MuiInputBase-input::placeholder {
    font-size: 14px;
}

.MuiFormControlLabel-label {
    font-size: 14px;
}

.MuiOutlinedInput-root {
    font-size: 14px;
    border-radius: 4px !important;
}


/* text input */

.MuiOutlinedInput-input {
    font-size: var(--font-size-main) !important;
}

.inputEdit .MuiOutlinedInput-root {
    border-radius: 4px !important;
}

.MuiRadio-root.Mui-checked {
    color: var(--color-main) !important;
}

.MuiDataGrid-root {
    font-size: var(--font-size-main) !important;
    border: none!important
}

.MuiTypography-root {
    font-family: var(--font-family-main) !important
}

.MuiPaper-root:not(.MuiDialog-paper) {
    color: var(--font-color) !important;
}

.MuiTypography-root.MuiTypography-body2 {
    font-size: var(--font-size-main) !important
}

.MuiMenuItem-root,
.MuiInputBase-formControl {
    font-size: var(--font-size-main) !important;
    font-family: var(--font-family-main) !important
}


/* placeholder (not MuiInputLabel-shrink: label when focus)  */

.MuiFormControl-root .MuiFormLabel-root:not(.MuiInputLabel-shrink) {
    font-size: var(--font-size-main)!important;
    font-family: var(--font-family-main) !important
}


/* data-grid */

.MuiDataGrid-columnHeaderTitleContainerContent .MuiBox-root {
    font-weight: 700;
}

.MuiDataGrid-columnHeadersInner {
    background-color: var(--color-header-table) !important
}

.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus {
    outline: none!important
}

.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
    outline: none!important
}

.MuiDataGrid-row.Mui-selected,
.MuiDataGrid-row.Mui-selected:hover,
.MuiDataGrid-row.Mui-selected.Mui-hovered {
    background-color: var(--color-bg)!important
}

.autocomplete-option {
    border-bottom: 1px dashed var(--border-color);
    font-size: var(--font-size-main);
    padding: 10px
}


/* label at radio */

.MuiFormControlLabel-label.MuiTypography-root {
    font-size: var(--font-size-main)!important;
}

.lableOverflow {
    text-overflow: ellipsis!important;
    overflow: hidden!important;
    white-space: nowrap!important;
}

.page-title {
    font-size: 15px!important;
    font-weight: 700!important;
    color: #333233;
}

.modal-title {
    /* ~ 21px*/
    font-size: 1.25rem!important;
    font-weight: 700!important;
}

.user-icon-upload {
    width: 80px!important;
    height: 80px!important;
    color: #dfdcdc!important;
    border-radius: 100%!important;
    border: 1px solid #cccc;
    padding: 10px!important;
}

.user-image-upload {
    width: 100%!important;
    height: 100%!important;
    min-width: 80px!important;
    min-height: 80px!important;
    max-width: 80px!important;
    max-height: 80px!important;
    border-radius: 100%!important;
}

.filter-left-title {
    background-color: var(--color-header-table) !important
}

.page-box-left {
    border-radius: 4px;
    background-color: white;
}

.page-box-right {
    border-radius: 4px;
    background-color: white;
    min-height: 100%;
}