.btn-import{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    height: 40px;
    border: 1px solid #E6E1E6;
    border-radius: 4px;
}
.btn-export{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    height: 40px;
    border: 1px solid #E6E1E6;
    border-radius: 4px;
}
.btn-add-item{
    color: #FFFAFF;
    background-color: #7C3367;
    height: 40px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.input-search{
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    background: #FFFAFF;
    border: 1px solid #CDC9CD;
    border-radius: 8px;
    height: 40px;
}
.text-secondary{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #009EF7;
}
.text-neutral-90{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    color: #333233;
}